In [11]:
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.precision', 2)

In [12]:
data = pd.read_csv('diem_thi_thpt_2024.csv',index_col=0)
data

,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd,ma_ngoai_ngu
sbd,,,,,,,,,,
1000001,8.4,6.75,8.0,6.00,5.25,5.0,NaN,NaN,NaN,N1
1000002,8.6,8.50,7.2,NaN,NaN,NaN,7.25,6.00,8.00,N1
1000003,8.2,8.75,8.2,NaN,NaN,NaN,7.25,7.25,8.75,N1
1000004,4.8,8.50,7.4,NaN,NaN,NaN,7.00,6.00,7.50,N1
1000005,8.6,9.00,7.8,NaN,NaN,NaN,9.00,8.75,8.50,N1
...,...,...,...,...,...,...,...,...,...,...
64007282,4.2,6.00,3.0,NaN,NaN,NaN,5.25,6.25,7.50,N1
64007283,5.2,6.00,3.6,NaN,NaN,NaN,6.25,5.75,7.75,N1
64007284,7.2,8.00,7.0,6.25,7.00,8.0,NaN,NaN,NaN,N1
64007285,5.2,5.25,4.4,NaN,NaN,NaN,4.75,6.50,8.75,N1
64007286,5.8,8.25,2.8,NaN,NaN,NaN,5.00,7.25,8.25,N1

In [13]:
mean_values = data['toan'].mean()
print("Diem trung binh mon toan: ",mean_values)

Diem trung binh mon toan:  6.447309281732343

In [14]:
# data.loc[,:'toan']

In [15]:
def phan_loai_khoi(row):
    row = row.fillna(0)
    if row['ma_ngoai_ngu'] != 'N1': return ('Khoi khac',0)
    khoi ={
        'A': row['toan'] + row['vat_li'] + row['hoa_hoc'],
        'A1': row['toan'] + row['vat_li'] + row['ngoai_ngu'],
        'B': row['toan'] + row['hoa_hoc'] + row['sinh_hoc'],
        'C': row['ngu_van'] + row['lich_su'] + row['dia_li'],
        'D': row['toan'] + row['ngu_van'] + row['ngoai_ngu'],
        'D7': row['toan'] + row['hoa_hoc'] + row['ngoai_ngu']
    }
    return max(khoi,key=khoi.get), max(khoi.values())
data['khoi'],data['diem_khoi'] = zip(*data.apply(phan_loai_khoi,axis=1))

C:\Users\MY PC\AppData\Local\Temp\ipykernel_20824\2215283324.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  row = row.fillna(0)

In [16]:
data[['khoi','diem_khoi']]

         khoi  diem_khoi
sbd
1000001     D      23.15
1000002     D      24.30
1000003     D      25.15
1000004     C      21.50
1000005     C      26.75
...       ...        ...
64007282    C      17.50
64007283    C      18.00
64007284    B      22.20
64007285    C      16.50
64007286    C      20.50

[1061605 rows x 2 columns]

In [17]:
khoi_counts = data['khoi'].value_counts()
khoi_counts

khoi
C            487853
D            188999
Khoi khac    155067
A            107297
B             53794
A1            50420
D7            18175
Name: count, dtype: int64

In [9]:
diem_tb = data.groupby('khoi')['diem_khoi'].mean()
diem_tb

khoi
A            23.205416
A1           23.653705
B            21.815495
C            21.467165
D            21.959139
D7           23.928600
Khoi khac     0.000000
Name: diem_khoi, dtype: float64

In [18]:
def so_nguoi_liet(data):
    count = 0
    for i in range(len(data)):
        row = pd.to_numeric(data.iloc[i],errors='coerce').fillna(11)
        if row.min() <= 1: count = count + 1
    return count

In [19]:
so_nguoi_liet(data)

155333